body * {
    box-sizing: border-box;
}

.map-data-display {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: gray;
    color: white;
    border-radius: 15px;
    padding: 10px;
    width: 80%;
    margin: auto;
}

.table-head {
    font-weight: bolder;
}

.map-container {
    display: grid;
    grid-template-columns: repeat(64, 16px);
    width: calc(64 * 16px);
    margin: auto;
}

.map-container .map-square {
    display: flex;
    height: 16px;
    width: 16px;
    border:1px solid black;
    color: white;
    align-items: center;
    justify-content: center;
}

.map-container .map-square:hover {
    scale: 1.5;
    transform-origin: center;
    cursor: pointer;
}

.side-view {
    display: grid;
    grid-template-columns: repeat(64, 10px);
    border: 1px solid black;
    width: 640px;
    margin: auto;
}

.side-view .side-view-block {
    width: 10px;
    height: 10px;
    border: 1px solid gray;
}

.blinking {
    animation: blink-animation 1s ease-in-out infinite alternate;
}

h1, h2, h3, h4 {
    text-align: center;
}

@keyframes blink-animation {
    to {
        opacity: 0;
    }
}