.map-data-display {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.table-head {
    font-weight: bolder;
}

.map-container {
    display: grid;
    grid-template-columns: repeat(64, 16px);
    width: calc(64 * 16px);
    margin: auto;
}

.map-container .map-square {
    display: flex;
    height: 16px;
    width: 16px;
    border:1px solid black;
    color: white;
    align-items: center;
    justify-content: center;
}

.blinking {
    animation: blink-animation 1s ease-in-out infinite alternate;
}

h1, h2, h3, h4 {
    text-align: center;
}

@keyframes blink-animation {
    to {
        opacity: 0;
    }
}